[2012-10-31 04:04] jbohren opened #1 "AnalyzerGroup is using deprecated pluglinlib code"
AnalyzerGroup is using deprecated pluglinlib code

[code]

[2012-11-26 23:10] tkruse opened #3 "missing dependency causes broken parallelbuild"
see
https://github.com/ros/catkin/issues/264

[2012-12-06 16:29] #3 closed, assigned to nobody

[2012-12-06 16:40] #1 closed, assigned to nobody

[2012-12-07 07:32] 130s opened #4 "Operation level from diagnostic_aggregator not consistent"
Though very rarely, I've seen /diagnostic_agg msgs like below. Look at "level". Level of /Devices/IMU is 2 (ie. ERROR) but all of its sub devices show level 0 (OK).

(At Willow, you may be able to reproduce with prl).

[code]

diagnostic from debian ros-groovy-diagnostic-aggregator/precise uptodate 1.7.7-0precise-20121205-0830-+0000

[2013-01-31 01:46] 130s opened #5 "rosdistro does not point to this repo (github.com/ros/diagnostics/)"
See https://github.com/ros/rosdistro/blob/master/releases/groovy.yaml#L71
If it's old or just wrong repo, I can pull request. Just need a confirmation.

[2013-01-31 07:15] #5 closed, assigned to nobody

[2013-05-23 13:08] mitchellwills opened #7 "Diagnostics in Nodelets"
The C++ diagnostic_updater does not accept a node handle in the constructor so it cannot be used correctly in a nodelet.
The same applies to the self_test package (the constructor takes a node handle, but then it is ignored).

Both packages should take a node handle and a private node handle so that names can be resolved correctly in a nodelet.

[2013-10-15 19:07] mathias-luedtke opened #10 "diagnostic_updater python API is not exported"
catkin_python_setup() and corresponding setup.py are missing

[2013-10-16 17:42] bricerebsamen opened #12 "some tests fail"
Some tests were not building properly (linker issue). I fixed that in a69d7625fa8fb1b4ff82065cc0cfef2461a73c87. But some of the tests fail:

[code]

and finally, self_test/no_id_selftest never ends... so I could not run the other tests...

[2013-11-08 22:45] FriedCircuits opened #13 "seft_test check if catkin test enable"
Hi,

Can you update hydro release for selft_test CMake so that it checks if Catkin test is enabled.

I need to cross compile selft_tes for usb_cam for Angstrom but I need it to skip the test.

Thanks!

[2013-11-09 20:35] dirk-thomas opened #14 "fix reference to example.cpp in manifest.dox file"
Currently http://docs.ros.org/groovy/api/diagnostic_updater/html/index.html links to the `example.cpp` file from _rosconsole_.

The reference to `example.cpp` is not unique since other packages which this package depends on also contain a file with that name. Therefore you need to reference the file with its relative location from the `manifest.dox` file: https://github.com/ros/diagnostics/blob/gr

[2014-01-03 04:01] LucidOne opened #15 "docs are broken for hydro"
hydro: Cannot load information on name: diagnostic_updater, distro: hydro, which means that it is not yet in our index. Please see this page for information on how to submit your repository to our index.

[2014-01-03 14:54] #15 closed, assigned to 130s

[2014-02-12 23:10] toliver opened #16 "self_test executables are not installed in hydro"
The executable files `run_selftest` and `selftest_rostest` mentioned in (http://wiki.ros.org/self_test) should be installed in the CMakeLists.txt, so that they can be used via rosrun.

[2014-02-16 06:28] mitchellwills opened #17 "Generic Analyser does not process starts_with and remove_prefix on the same name"
The Generic Analyser processes starts_with before slashes are replaced with spaces and remove_prefix after the slashes are replaced. This causes issues with the find_and_remove_prefix parameter as it is matched using the slash, but then the prefix is not removed because the slash does not match the space.

For example if a node is in a namespace and has the name ```/ns/mynode``` and it generates a

[2014-03-30 08:08] chadrockey opened #19 "Release into Indigo"
@bricerebsamen

Will you be able to release into Indigo soon?  Looks like most of the hardware drivers are blocked here by diagnostic_updater.

Thanks!
- Chad

[2014-04-08 06:51] #19 closed, assigned to ahendrix

[2014-04-08 07:30] #4 closed, assigned to nobody

[2014-04-08 07:36] #13 closed, assigned to nobody

[2014-04-08 07:36] #14 closed, assigned to nobody

[2014-04-08 09:23] #12 closed, assigned to nobody

[2014-04-09 12:36] orzechow opened #20 "diagnostics_updater does not support diagnostic_period < 1"
I'm not sure about the python version, but the _diagnostics_updater_ in c++ crashes with

if the _diagnostic_period_ parameter is < 1
The reason lies in `diagnostics_updater::update_diagnostic_period()` where `ros::Duration` overflows if `period_` < `old_period`:
https://github.com/ros/diagnostics/blob/groovy-devel/diagnostic_updater/include/diagnostic_updater/diagnostic_updater.h#L520

[2014-04-09 19:23] #20 closed, assigned to nobody

[2014-04-24 20:12] #10 closed, assigned to nobody

[2014-04-24 20:13] #16 closed, assigned to nobody

[2014-06-24 04:20] #7 closed, assigned to nobody

[2014-07-10 06:56] trainman419 opened #24 "diagnostic_analysis analyzer_loader is not installed"
As seen on ROS answers: http://answers.ros.org/question/185155/error-in-tutorial-creating-a-diagnostic-analyzer/

It isn't possible to follow this tutorial: http://wiki.ros.org/diagnostics/Tutorials/Creating%20a%20Diagnostic%20Analyzer because the test node isn't built or included in the binary package.

[2014-07-25 01:38] garaemon opened #25 "python binding of diagnostic_updater is not available on groovy"
groovy [CMakeLists.txt of diagnostic_updater](https://github.com/ros/diagnostics/blob/groovy-devel/diagnostic_updater/CMakeLists.txt) does not call catkin_python_setup()
 macro.

[hydro version](https://github.com/ros/diagnostics/blob/hydro-devel/diagnostic_updater/CMakeLists.txt) does call catkin_python_setup()
 macro.

[2014-07-25 03:53] #24 closed, assigned to nobody

[2014-07-25 08:33] #25 closed, assigned to nobody

[2014-07-27 16:07] bulwahn opened #27 "diagnostic_aggregator: catkin_make -DCATKIN_ENABLE_TESTING=0 fails"
When executing `catkin_make -DCATKIN_ENABLE_TESTING=0`, it fails with:

Linking CXX executable (...)/diagnostics_ws/devel/lib/diagnostic_aggregator/analyzer_loader
/usr/bin/ld: cannot find -lgtest
collect2: error: ld returned 1 exit status
make[2]: *** [(...)/diagnostics_ws/devel/lib/diagnostic_aggregator/analyzer_loader] Error 1

diagnostic_aggregator in version 1.8.4 needs the gtest library, but

[2014-07-31 07:56] trainman419 opened #30 "Rewrite how test nodes are exported"
Given the sum total of issues #16, #24, #27 and #28, it sounds like the way testing nodes are exported to downstream packages needs to change.
- Installing anything that is linked against gtest and meant to be used with user-compiled code is a bade idea and likely won't work, because gtest fails when different parts of it are compiled with different flags (ie the node, built on a build farm, and t

[2014-09-24 13:32] garaemon opened #31 "[Feature request] Add new aggregation rule to diagnostic_aggregator"
diagnostic_aggregator initialize analyzers from rosparam and it cannot add new analyzing rule after initialization. If it supports addition of rules, it would be very useful.

It means that if we want to add new rule, we need to run another aggregator and robot_monitor with remapping like `/diagnostics -> /diagnostics_perception`.

[2014-09-26 08:59] redheli opened #32 "hardware id and task name disappear"
Hi,

    In the diagnostic_updater::Updater::add callback function ,if assign an value to diagnostic_updater::DiagnosticStatusWrapper &stat, like below.
    the Hardware id and task name will be empty in rqt_robot_monitor.
    I have this problem in Ubuntu 14.04 and ROS Indigo.

example:

[code]

[2014-10-28 18:18] mitchellwills opened #33 "diagnostic_common_diagnostics/sensors_monitor: Additional sensor types"
Is there interest in additional sensor type support for the sensor_monitor node. I have an implementation of a C++ libsensors based node (https://github.com/RIVeR-Lab/computer_sensors) that publishes diagnostic data. It also supports types other than temp and fan (does not currently support voltage explicitly) by adding their properties. The use of the api seems like it would be more reliable than

[2014-11-25 15:21] #33 closed, assigned to nobody

[2014-12-20 08:40] trainman419 opened #36 "diagnostics_common_diagnostics doesn't build on OSX"
As seen on ROS answers: http://answers.ros.org/question/199874/no-definition-of-libsensors4-dev-for-os-osx/

Doesn't build on OSX because libsensors4-dev isn't available on OSX.

@mitchellwills thoughts on how to fix this? It's easy enough to make the build process skip the libsensors node if libsensors isn't available, but we'd still have to figure out how to specify the dependency properly, beca

[2014-12-20 11:36] pgorczak opened #37 "Including gtest.h fails on OS X"
While looking for the tuple class it somehow [assumes that it should include `<tr1/tuple>`](../blob/indigo-devel/self_test/gtest-1.6.0/include/gtest/gtest.h#L1561) although Clang implements C++11 with tuple being a part of the standard library (so it should be just `<tuple>`).

Sorry for not gathering more info from the header file for now, I will look into it when I have time.

[2015-01-01 01:23] trainman419 commented on #36
I haven't come up with anything better. I think we should move the new, linux-specific diagnostics into a separate package.

[2015-01-03 17:09] garaemon commented on #37
gtest-1.7.0 works on my environment (yotemite, llvm 3.5)

[2015-01-04 19:14] mitchellwills commented on #36
Would you like me do submit a PR for this in this repo or should I try to move it into the linux_peripheral_interfaces repo?

[2015-01-04 19:21] mitchellwills commented on #17
Hmm I have been thinking about implementing this, but i'm not quite sure what the correct solution is. Which behavior should be considered correct handling the check before or after replacing the slash? If find_and_remove_prefix is changed then should the startswith or remove_prefix (whichever implements it wrong also be changed).

Also just wondering what the reason was for replacing the slash wi

[2015-01-05 03:25] garaemon commented on #36
Is this kind of patch enough?
https://github.com/garaemon/diagnostics/compare/gtest-1.7.0-for-self-test...do-not-compile-sensors-on-os-x

[2015-01-05 04:07] trainman419 commented on #36
Sorry for the slow responses; I've been on vacation and I'm a bit busy moving to a new apartment.

@garaemon that isn't sufficient, because it still leaves the dependency on libsensors in the package.xml

@mitchellwills why don't you submit the current version of the libsensors node to the linux_peripheral_interfaces repo. I'll keep the existing node in a branch of this repository or something and

[2015-01-05 04:14] garaemon commented on #36
Exactly.

[2015-01-06 03:23] mitchellwills commented on #36
@trainman419 Might want to soon as I think there is going to be another sync soon

[2015-01-08 15:53] FBaralli commented on #37
I have gtest 1.7.0 installed with brew but diagnostic_aggregator seems to be using its own gtest (1.6.0). At least that is what looks like from the error I get:
[code]

[2015-01-08 16:47] garaemon commented on #37
@FBaralli
Could you try this PR?
https://github.com/ros/diagnostics/pull/39

[2015-01-08 17:52] trainman419 commented on #36
I've removed the libsensors node from the hydro-devel branch. Please try that.

[2015-01-08 17:54] trainman419 commented on #37
@FBaralli as per the recommended gtest practice, diagnostics includes and builds its own copy of gtest. It doesn't use the system version.

[2015-01-08 18:03] trainman419 commented on #37
I've upgraded gtest to 1.7.0 in the hydro-devel branch. Please test and verify that it works before I do a release.

[2015-01-08 21:56] pgorczak commented on #37
Thanks, I just tested it. I can confirm that 03aa72b76ba1add715c4d56a9e963b33c05821a9 fixes the issue on Yosemite+Indigo.

[2015-01-08 21:57] #37 closed

[2015-01-09 17:29] trainman419 commented on #37
Released into Hydro and Indigo as version 1.8.7

[2015-01-09 17:29] trainman419 commented on #36
Released into Hydro and Indigo as version 1.8.7

[2015-01-09 17:29] #36 closed

[2015-01-24 04:50] mitchellwills commented on #17
@trainman419 Any thoughts on my questions

[2015-01-24 21:27] trainman419 commented on #17
I wasn't around for the initial design of the diagnostics stack, so I'm not sure what the reasons were for removing slashes from diagnostics. I suspect the slashes confuse downstream tools like rqt_robot_monitor, which expect them to delimit namespaces.

I think that remove_prefix is broken for operating on a modified version of the input instead of operating on the raw input. If you look at the c

[2015-01-24 21:53] #17 closed

[2015-01-24 21:56] trainman419 commented on #17
The fix for this is kind of a mess; internally, the diagnostic aggregator converts names to output format (slashes replaced with spaces) before they're ever processed by the aggregator, so the fix for this is to convert the remove_prefix argument to output format before trying to use it.

I've confirmed the fix for this on my test system. Please confirm that it works for you as well, and then I wi

[2015-01-25 03:47] mitchellwills commented on #17
Works great!
Thanks

[2015-02-05 14:43] kryzsu opened #40 "pure virtual call in ros::ServicePublication::drop()"
I tried the modificated version of official example for self_test, but a pure virtual call is occured during the destruction of self_test object.

The modified main function is:
[code]
the problem is occured in the line no 193.
[code]

[2015-02-17 04:54] trainman419 commented on #40
The stacktrace indicates that this is inside of the ros namespace; not diagnostics, so you should report this as a bug against roscpp: https://github.com/ros/ros_comm/issues

[2015-02-17 04:54] #40 closed

[2015-02-17 04:54] #32 closed

[2015-08-07 04:11] trainman419 commented on #17
Released to hydro: https://github.com/ros/rosdistro/pull/9105 and indigo: https://github.com/ros/rosdistro/pull/9106

[2015-09-09 03:22] trainman419 commented on #31
I don't think an add/delete API on a per-item basis is really appropriate for the way that this should be used; it gives the user too much freedom to accidentally remove important diagnostics.

The nominal use-case that I see for this API would be wanting to bring up additional diagnostics as part of a capability, and bring those diagnostics down again when that capability is no longer needed.

Pe

[2015-09-09 04:14] trainman419 commented on #27
Closing due to lack of response from @bulwahn

[2015-09-09 04:14] #27 closed

[2015-10-26 11:39] Karsten1987 opened #44 "GenericAnalyzer also removes prefix from path"
I am not sure, if this is a real issue or something I am doing wrong.

My config is as follows:
[code]

What I see in my robot_monitor is that all information about laser is published inside the '/' namespace.

When I then change the config to this: (please note the change from `Laser` to `laser`)
[code]

Everything gets published as expected, saying the category is called `Laser` and all messages

[2015-12-02 18:54] trainman419 commented on #44
find_and_remove_prefix is using the name provided in the diagnostics topic, not the `Path` that is configured in the aggregator. Your laser is probably publishing diagnostics with a prefix of `laser`

Note that find_and_remove_prefix is case sensitive, which is why it doesn't work if you pass 'Laser' to it.

[2015-12-02 18:54] #44 closed

[2016-02-22 17:14] peci1 opened #45 "Topics published on a frequency lower than 1.0/diagnostic_period are not supported"
Looking at `TimeStampStatus` and `FrequencyStatus` code (and testing with our hardware), if you use the `TopicDiagnostic` to diagnose a slow topic (0.3 Hz in our case), then the diagnostic fails.

At the time windows a message has arrived, it correctly reports on the frequency and all of this, but at the other time windows when no message has appeared, the diagnostic reports ERROR with `No events

[2016-02-22 18:07] peci1 commented on #45
Here's my workaround (tested to work correctly).

https://gist.github.com/peci1/ede392a7006d5a9af6c8

In the workaround, you can also see the basic problem of the provided `TimeStampStatus` and `FrequencyStatus` classes - their members are defined `private` instead of `protected`, effectively disabling people to extend this class and make full use of it.

[2016-03-22 20:08] guillaumeautran commented on #31
Has there be any progress made on this feature request?
I am (selfishly) volunteering myself to do the grunt work here if we could come up with a agreement on the API.

[2016-03-22 20:25] guillaumeautran commented on #31
Would specifying an `analyzers.yaml` file in the `package.xml` `<export/>` tag be a possible avenue? When the node comes up, the diagnostic aggregator could dynamically load the new YAML file and update its configuration.
There would not be any unload capability though...

[2016-03-22 21:44] trainman419 commented on #31
This has been implemented in #43

[2016-03-22 21:44] #31 closed

[2016-03-22 21:46] trainman419 commented on #45
This looks useful, but I don't have a lot of time to integrate it. It will go faster if you submit it as a pull request.

[2016-05-09 01:34] pirobot opened #47 "discard_stale parameter ignored in rqt_robot_monitor"
I'm using ROS Indigo (Debian packages) on Ubuntu 14.04 and I'm trying to use the discard_stale parameter for a number of GenericAnalyzers.    However, even when an analyzer has the discard_stale parameter set to true, the Stale status message appears and persists in the rqt_robot_monitor display.

I have attached a screen shot rqt_robot_monitor showing Stale state of the (non-existent) Base Contro

[2016-05-09 07:35] trainman419 commented on #47
The documentation isn't clear on this, but the discard_stale parameter requires at least one diagnostic item within that category to be considered non-stale. This allows individual items to come and go, but to still report stale if the entire category is missing.

The code that implements this is: https://github.com/ros/diagnostics/blob/03e0db006175c3e6157bb50ab38021ebb4995c5b/diagnostic_aggregato

[2016-05-09 19:16] #47 closed

[2016-05-20 14:18] mikepurvis opened #48 "Publish diagnostics_agg right away upon new warn/error diagnostics"
The present behaviour is to only publish the aggregated diagnostics at the fixed rate (default 1Hz):

https://github.com/ros/diagnostics/blob/03e0db006175c3e6157bb50ab38021ebb4995c5b/diagnostic_aggregator/src/aggregator_node.cpp#L50-56

I believe that it would be better to trigger an immediate publish of the aggregated topic when a diagnostic transitions to WARN or ERROR. We have some error report

[2016-06-08 11:49] heuristicus commented on #48
This sounds like a good idea, but is there any particular advantage to working with `/diagnostics_agg` rather than `/diagnostics`? I guess the main thing would be fewer callbacks, and the filtering that you define through the analyzers would be applied so you only see the diagnostics you're interested in.

At the same time, it seems to me that the main purpose of the `/diagnostics_agg` right now i

[2016-06-08 14:33] mikepurvis commented on #48
The main consumer of `diagnostics_agg` is the GUI, but I think its _purpose_ is to supply a single diagnostic snapshot which doesn't require opening a socket to every node which produces diagnostics.

Even for the GUI case though, IMO a new ERROR case should be made visible as soon as possible, rather than waiting as much as a second for the next report to arrive.

[2016-06-08 14:56] heuristicus commented on #48
Definitely agree with making errors visible ASAP.

What about changing messages that are attached to the diagnostics? Does it matter that the cause of the error is different, but the level is still the same?

For example:

[code]

Should both of these messages cause an instant update, or just the first one? Does that also apply to when the level is `OK`?

From my perspective, I don't think it make

[2016-06-08 18:08] mikepurvis commented on #48
That seems reasonable to me.

[2016-06-08 18:25] trainman419 commented on #48
From personal experience, I'd suggest a few adjustments to this:

* publishing `/diagnostics_agg` on change doesn't reduce the latency if the diagnostic_updater library is limiting changes on `/diagnostics` to 1Hz, so to implement this properly, both would need to updated to publish updates immediately when items go from OK to not OK
* Industrial users will want to know the end-to-end latency betw

[2016-08-31 07:50] stonier opened #50 "The add_analyzer fails to clean up...sometimes"
When add_analyzer leaves, it utilises the bond mechanism to shutdown the bond, triggering an unloading of the analyzers on the aggregator side.

Looks like the bondpy mechanism however, isn't reliably ensuring the aggregator gets triggered. This results in an error message when you reload the same analyzers that were not unloaded:

[code]

Difficult to reproduce with small tests. Right now I'm onl

[2016-08-31 07:51] stonier commented on #50
Investigating the bond mechanisms in bondpy.

[2016-08-31 11:34] stonier commented on #50
Issue in [bond_core#14](https://github.com/ros/bond_core/issues/14)

[2016-08-31 21:17] trainman419 opened #51 "diagnostic_analysis nodes are not installed"
The `export_csv.py` and `sparse_csv.py` nodes are not installed with the apt builds of the diagnostic_analysis package.

[2016-09-01 13:53] stonier commented on #50
Investigating what nodelets do...they have the same problems even though it's cpp. However the loaders there make a service call to the nodelet manager just before breaking the bond. i.e. they are not relying on the 1) the bond informing the other end or 2) the bond breaking to make sure things work.
- [unloadNodelet just before bond_break@shutdown](https://github.com/ros/nodelet_core/blob/indigo-

[2016-09-05 07:41] magazino opened #52 "diagnostic_updater needs to check if the diagnostic_period parameter exists"
The current implementation of `diagnostic_updater::Updater` reads the parameter `diagnostic_period` from the parameter server without checking if it exists. If it does not exist, the `getParamCached` method returns 0.0 and update will run every time.

[2016-09-05 07:57] trainman419 commented on #52
I haven't observed this, and I have a lot of code that would probably be susceptible to the bug you're describing.

I had a quick look at the code, and `getParamCached` doesn't modify the value if the parameter doesn't exist, so if the `~diagnostic_period` parameter doesn't exist, `period_` should remain set to the default of 1.0.

Perhaps you can provide a bit of sample code that reproduces this

[2016-09-05 08:06] magazino commented on #52
We just found out that the root cause for our problem was something else. I'll close this ticket. Sorry for this.

[2016-09-05 08:06] #52 closed, assigned to nobody

[2016-10-24 14:03] progtologist opened #54 "FrequencyStatusParam is not thread safe"
The Struct is storing pointers to the min_freq_ and max_freq_ that are being accessed from the FrequencyStatus class using scoped_locks protecting only the object itself but not the data that can be altered using the struct.
Also, the data are not checked prior being dereferenced, but I guess this is not as important since it will most likely cause problems at the start time compared to the thread

[2016-10-25 20:20] trainman419 commented on #54
Hrm; that does seem like it's a potential issue, but I think it would be incredibly difficult to actually hit it. Is it causing trouble for you? Do you have a reproducible test case that exploits it?

The API has been like this for about 6 or 7 years, and at this point it is very widely used, so we should think carefully about compatibility before introducing changes.

I'm happy to accept a fix fo

[2016-10-25 23:21] progtologist commented on #54
I wouldn't really expect many scenarios where this can be exploited, since I doubt many users have actually changed the value of min_freq_ and max_freq_ dynamically at runtime.

However, I am currently developing a nodelet that would actually need this functionality for a production environment and I am having second thoughts on using it. The possibility of a segmentation fault is there and could

[2016-10-26 01:14] tfoote commented on #54
An alternative API with a copy could be added to not break backwards compatibility.

[2016-10-28 19:29] progtologist commented on #54
I will develop this functionality and make a PR to further discuss on this.

[2016-12-13 14:52] anderwm commented on #51
This is still true

[2017-03-09 19:58] guillaumeautran opened #57 "`rosdiagnostic echo` command line"
Viewing aggregated diagnostics can be done using  rqt_robot_monitor application. This is great but requires launching RQT in a Xwindows session. Instead, the `rosdiagnostic` command very quickly let you visualize the active diagnostic on any robot without requiring heavy duty Xwindow library.

[2017-04-10 18:22] mikaelarguedas opened #62 "Lunar release"
Hi @trainman419 and diagnostics maintainers,

As you may know the next ROS release Lunar Loggerhead is around the corner :tada:
Is it possible to release `diagnostics` on ROS Lunar? Being a low level package this is currently [preventing many repositories from being released](http://repositories.ros.org/status_page/blocked_releases_lunar.html?q=id%3D%22diagnostics%22&s=6&r=1).

If you don't have t

[2017-04-17 06:38] mikaelarguedas commented on #62
@trainman419 Any update on this? This is currently [the main blocker](http://repositories.ros.org/status_page/blocked_releases_lunar.html?s=6&r=1) for the release of packages into lunar. It would be really awesome to have this repo released into lunar asap. Thanks!

[2017-04-24 18:36] mikaelarguedas commented on #62
Hi @trainman419 ,
Any update on this ?
If there is no activity on this issue in the next 2days I'll release the current kinetic version into lunar to allow the release to move forward. Please speak up if you want to proceed otherwise.

[2017-04-24 18:54] mikepurvis commented on #57
Closed via #58.

[2017-04-24 18:55] mikepurvis commented on #62
Please do tag a new release for Lunar, either 1.9.0 or 1.8.11.

We (Clearpath) have been running the current master branch in our bundles and vouch for its stability.

[2017-04-24 18:58] trainman419 commented on #62
Sorry; I haven't been getting github notifications for this issue for some reason. I'll get moving on a lunar release today.

[2017-04-24 19:04] mikaelarguedas commented on #62
awesome thanks @trainman419 !

[2017-04-25 04:42] #57 closed, assigned to nobody

[2017-04-25 05:16] #51 closed, assigned to trainman419

[2017-04-25 07:42] trainman419 commented on #62
I went through and triaged incoming pull requests (github or my email vendor have missed a LOT of notifications), merged the low-risk PRs, made sure all of the tests pass and put out version 1.9.0: https://github.com/ros/rosdistro/pull/14646

[2017-04-25 07:43] trainman419 commented on #50
We've encountered some similar issues when using the add_analyzers service, and the most common case that I've seen is the bondcpp subscriber dropping messages and prematurely dropping the entire add_analyzers node.

All of the add_analyzers nodes are connecting to the same subscriber, and if they send all of their messages at the same time, it can temporarily overwhelm the bond's subscriber queue

[2017-04-25 13:40] mikaelarguedas commented on #62
:+1: Thank for working on this, all jobs are green :tada:, closing this

[2017-04-25 13:40] #62 closed, assigned to nobody

[2017-06-15 16:21] UltronDestroyer opened #64 "ros-kinetic-diagnostics-aggregator deb missing from xenial 16.04 on shadow-fixed"
I'm running some pre-release tests and noticed it is missing for some reason.

http://packages.ros.org/ros-shadow-fixed/ubuntu/pool/main/r/ros-kinetic-diagnostic-aggregator/

specifically,

amd64.deb for xenial

[2017-06-15 19:05] tfoote commented on #64
This was a recurrence of https://github.com/ros-infrastructure/ros_buildfarm/pull/377 I've manually fixed the package and it's rebuilding downstream now. http://build.ros.org/view/Kbin_uX64/job/Kbin_uX64__diagnostic_aggregator__ubuntu_xenial_amd64__binary/

[2017-06-15 19:08] UltronDestroyer commented on #64
Thanks Tully. Ill keep an eye on other occurences

[2017-07-12 12:09] stwirth opened #65 "Stale items are not ignored with discard_stale: true when no status has been published at all"
With a configuration like this
[code]
and with no messages published on `/diagnostics`, I would expect "Nonexistent1" to show up as stale and "Nonexistent2" to *not* show up in `/diagnostics_agg`.

However, both are always present in `/diagnostics_agg`.
Here's a minimal launch file to reproduce:
[code]

[2017-07-15 20:01] trainman419 commented on #64
I've confirmed that the diagnostics debs are present in shadow-fixed again. Closing.

[2017-07-15 20:01] #64 closed, assigned to nobody

[2017-08-01 09:55] alireza-hosseini opened #67 "Access to analyzers in a subclass of AnalyzerGroup"
For an advanced usage of `AnalyzerGroup` class, I need to reimplement some of its public methods, but the big problem is reimplementing its virtual methods while I don't have access to the main class member which is `std::vector<boost::shared_ptr<Analyzer> > analyzers_` doesn't really make sense and kind of impossible.
Is there any specific reason for defining `analyzers_` as `private` and not `pr

[2017-10-09 15:17] stwirth opened #69 "Exception in sensors_monitor / parse_sensor_line"
I just got this running `sensors_monitor.py` on a ROS kinetic / Ubuntu Xenial machine:
[code]

The output of the `sensors` command is:
[code]

Looks like the parser cannot read some lines.

[2018-02-03 16:51] LoyVanBeek opened #74 "Travis build fails since ca. 2 months"
For the Travis build of this repo, they currently seem to fail on
[code]
This Python package is in the python-catkin-pkg, which is a dependency of python-catkin, which is [installed](https://github.com/ros/diagnostics/blob/indigo-devel/.travis.yml#L14) in the .travis-file.

Currently there are 2 PRs failing on that error:
- https://github.com/ros/diagnostics/pull/72 fails at https://travis-ci.org/

[2018-02-16 06:00] trainman419 commented on #74
Fixed in #76

[2018-02-16 06:00] #74 closed, assigned to nobody

[2018-02-21 17:58] Axel13fr opened #77 "Bond broken prevents adding diagnostics"
When adding diagnostics at runtime using either the script manual_diag.py given here http://wiki.ros.org/diagnostics/Tutorials/Adding%20Analyzers%20at%20Runtime or add_analyzers, the aggregator fails to properly update the group and leaves the added diagnostics under /Other/ even after wating for some time. The add_analyzers reports that the service call succeeded.

Looking at the logs, the aggreg

[2018-02-22 16:36] Axel13fr commented on #77
Ok I found the issue.

Some changes have been made on the diagnostic aggregator, specifically on the topic used to form the bond which is now "/diagnostics_agg/bond" + "add_diags node namespace".

This change has been made on the aggregator itself but only 2 months later on the add_diags script (so bond topic was not matching) and never in the tutorial.

It didn't make its way to release yet so th

[2018-03-09 14:39] poggenhans opened #78 "HeaderlessTopicDiagnostic should clean up after itself"
The `HeaderlessTopicDiagnostic` object registers a callback to the `Updater` class that is not removed, when `HeaderlessTopicDiagnostic` goes out of scope. The next `update()` then leads to a segfault.

Here is code to reproduce the issue:
[code]

[2018-03-15 13:42] nnarain-cpr opened #80 "Adding Key/Value pairs to diagnostic messages that are specified in the analyzer yaml file."
Any way to, or interest in, being able to add key/value pairs to diagnostic status messages that are specified in the analyzer yaml file. I basically want to "tag" a group of diagnostic messages and use that information in some later processing.

Something like the following:

[code]

[2018-03-15 14:15] mikepurvis commented on #80
If the tagging information is static (vs being determined and assigned programmatically by the analyzers themselves), couldn't the element doing the later processing just read in the parameter tree and apply the information that way?

[2018-03-15 18:49] nnarain-cpr commented on #80
The problem there is that the later processing occurs on a different machine then the `diag_agg` node. And does not have access to the same `analyzer` params. Except maybe through xmlrpc.

[2018-04-04 19:27] clalancette opened #81 "Release into melodic"
It looks like all of the dependencies for `diagnostics` are available in Melodic, so it would be great to get this released.  Thanks in advance!

[2018-04-11 17:07] ayrton04 commented on #81
+1

[2018-04-14 15:44] kmhallen commented on #81
+1

[2018-04-19 13:32] clalancette commented on #81
Ping?  Could we get this released into Melodic, please?  Thank you.

[2018-04-29 13:40] PaulBouchier opened #83 "diagnostic_updater swallows first character of name parameter"
This bug cost me a few hours some years ago when I first ran into it (and didn't get to the bottom  of it). It just cost me a few more, when a colleague reviewing my code that reads DiagnosticStatus messages in my custom DiagnosticAnalyzer asked why the name of the message I was matching to was missing the first character.

The problem is at line 542 of diagnostic_updater.h. It appears there was a

[2018-05-02 17:17] trainman419 commented on #83
Yeah; the examples written by the original author are not very professional. As it stands now, I'm keeping this package in maintenance mode and I don't have a lot of time to do active development or write new tutorials, but if you have time to write tutorials on the ROS wiki I would be happy to review them.

For this specific bug, I would welcome a patch that conditionally removes the first charac

[2018-05-02 17:50] trainman419 commented on #77
Released to Kinetic: https://github.com/ros/rosdistro/pull/17711

[2018-05-02 17:50] #77 closed, assigned to nobody

[2018-05-02 18:04] trainman419 commented on #81
Sorry for the delay. Released: https://github.com/ros/rosdistro/pull/17713

[2018-05-02 18:05] #81 closed, assigned to nobody

[2018-10-29 04:26] vaibhavbhadade opened #90 "creation of new branch for ros 2 development"
can you please create new branch for ros2 development so that , we can make PR request for ros 2 migrated package

[2018-10-29 21:18] trainman419 commented on #90
I've created the `ros2-devel` branch for ROS2 development.

[2018-10-29 21:18] #90 closed, assigned to nobody

[2018-11-16 09:48] poggenhans opened #92 "Division by zero if time does not change between updates"
To determine the update frequency, the diagnostic_updater divides by the time since the last update here: https://github.com/ros/diagnostics/blob/indigo-devel/diagnostic_updater/include/diagnostic_updater/update_functions.h#L174

If the time has not changed since then (happend to me when playing a rosback with `use_sim_time`), we divide by zero.

[2019-03-12 16:03] #65 closed, assigned to nobody

[2019-03-25 14:15] jspricke opened #106 "release a new version"
Hey Austin,

now with #99 in, can you please do a new release for kinetic and melodic?

Thanks a lot!

Jochen

[2019-04-11 19:26] jspricke commented on #106
Note that #99 is actually a ABI break due to:

https://github.com/ros/diagnostics/pull/99/files#diff-27d11a6675817723f16ce5fad6c275f8R274

so not sure if we should rather wait for ROS N.

[2019-04-12 15:44] mikepurvis commented on #106
I'm not an expert on ABI, but this change actually looks like it might be safe, reason being:

- There's no translation unit for `GenericAnalyzerBase`; the whole implementation is in the header, so any other implementations will be self-contained.
- The actual interface is the `Analyzer` class, which is unchanged, so an `Analyzer*` can safely point to instances of `GenericAnalyzerBase` implementat

[2019-04-12 15:49] jspricke commented on #106
I had a similar reasoning when I had a quick look, but debugged a nice segfault yesterday caused by it ;).

[2019-04-12 15:51] mikepurvis commented on #106
Oh fun. Were you doing anything especially off-beat to cause that?

[2019-04-12 15:55] jspricke commented on #106
We have an internal package on top of the aggregator using thelibdiagnostic_aggregator.so. Nothing special inside from first look.

[2019-04-12 16:07] mikepurvis commented on #106
Does your internal code actually have pointers to instances of `GenericAnalyzerBase`, or only to instances of `Analyzer`?

[2019-04-12 16:09] jspricke commented on #106
`Analyzer` and `GenericAnalyzer`.

[2019-04-12 16:15] mikepurvis commented on #106
Okay, yeah I can see that being an issue then, since the size of `GenericAnalyzer` would have changed, and in particular, any fields in there would be offset from their previous locations.

Alas.

[2019-05-01 10:36] Alabate commented on #106
In our case we are also interested in a new release on melodic because of #105 . We're trying to migrate our codebase to python3, and diagnostics are used across the whole project.

[2019-05-06 22:15] wkhudgins92 commented on #92
What would the desired behavior be here? I'm not sure that returning any numerical value would be truthful. Perhaps outputting N/A on line 199?

[2019-05-08 09:46] poggenhans commented on #92
I would simply not add the frequency to the status message if `window` is zero.

[2019-05-08 21:17] wkhudgins92 commented on #92
Valid idea. I'll implement something and raise a PR for this...thanks @poggenhans

[2019-05-21 00:10] cottsay opened #111 "Use node interfaces in Updater class"
This is necessary for diagnostic updater to work right in a managed ROS 2 node.

Similar to what was done in ros2/geometry2#108

[2019-07-31 23:35] Schwo0ps opened #119 "Updater raises std::bad_alloc sporadically on arm64 with O3 optimizations"
The issue is a complicated one, but here goes.

I first noticed this issue when I saw that diagnostics messages from arm64 machines sometimes arrive, but only infrequently (between 0% and 10% of the time), and eventually the following message comes from the Diagnostic Aggregator running on amd64 and it appears all messages are dropped.
[code]

At first, I though it was Endianness, but all machines

[2019-08-26 15:56] Karsten1987 commented on #111
closing this due to #112 being merged

[2019-08-26 15:56] #111 closed, assigned to nobody

[2019-08-29 12:51] flixr commented on #106
We also need #105 like @Alabate, if the whole thing can't be released as is, could the python3 fixes be backported instead?

[2019-09-19 20:12] mikepurvis opened #125 "Rewrite add_analyzer script to C++"
As part of our Python 3 migration, the `add_analyzer` script has come up as a nuisance which would be nice to avoid. Given that the rest of this package is C++, how would we feel about rewriting the script to be a small binary and parameterizing the service name?

The main proviso is that it would still need to shell out to `rosparam path/to/my.yaml /namespace` to perform the yaml loading, so the

[2019-10-01 14:02] VorpalBlade commented on #69
I got the same. Here is my sensors output:

[code]

[2019-10-22 21:17] sloretz opened #127 "Python 3 syntax errors, Noetic plan?"
It looks like there are a few Python 3 syntax errors on the `indigo-devel` branch. Is there a branch for Noetic? I notice there's [no Noetic source entry for the `diagnostics` repo](https://github.com/ros/rosdistro/blob/master/noetic/distribution.yaml), but it looks like it's [recursively blocking 97 other repositories](http://repositories.ros.org/status_page/blocked_source_entries_noetic.html?q=d

[2019-10-25 12:05] MCFurry opened #128 "DiscardAnalyzer doesn't work together with GenericAnalyzer"
Please see the following example of my `diagnostic_aggregator` configuration:
[code]
The problem seems that no diagnostic messages coming from this node are discarded anymore now that the `GenericAnalyzer` matches them as well and groups them.
There doesn't seem to be any specific ordering in processing `GenericAnalyzer` vs `DiscardAnalyzer`?
Am I miss-using the analyzers or is there a bug here?

[2019-11-27 14:53] hhansen-bdai commented on #127
I'm also concerned about the plan for Python3/Noetic, just posting to show interest

[2019-12-06 17:56] mikepurvis commented on #127
@sloretz What's the plan from OSRF to move this forward?

[2020-02-24 19:31] Karsten1987 opened #130 "update style format to match ros2 master uncrustify"
The current `ros2-devel` branch does not fulfill the matching requirements of the `ament_uncrustify` shipped with the latest ros2 master (foxy) build.

[2020-02-24 19:37] Karsten1987 opened #132 "add ros-tooling github actions"
Do have a better control over CI we should enhance this repo with GitHub actions provided here: https://github.com/ros-tooling/action-ros-ci

[2020-02-24 23:32] Karsten1987 commented on #130
closed with #134

[2020-02-24 23:32] #130 closed, assigned to Karsten1987

[2020-02-24 23:32] Karsten1987 commented on #132
closed with #133

[2020-02-24 23:32] #132 closed, assigned to nobody

[2020-03-10 00:25] sloretz commented on #127
I'm waiting to hear from the maintainers.

[code]

@trainman419 @bricerebsamen @guillaumeautran friendly ping. It looks like `geometry` and `geometry2` are blocking this repo from being released, so it will be this repo's turn soon.

You'll find some useful info about switching to Python 3 on this wiki page http://wiki.ros.org/UsingPython3/

[2020-03-26 10:26] ahcorde commented on #127
I have been working into bumping the cmake version and some python3 changes https://github.com/ahcorde/diagnostics/tree/ahcorde/noetic_release

Can someone with rights in the repository create a `noetic` branch?

[2020-03-26 15:54] Karsten1987 commented on #127
@ahcorde I've just created a `noetic-devel` branch. Great to hear you picked up some of the works towards noetic.

[2020-03-29 16:45] scott-robotics opened #137 "Old-style python classes"
There are multiple instances of old-style python classes. Is there sense in changing them to new-style classes? This change would be a somewhat irrelevant for python3 migration.

[2020-04-01 18:50] sloretz commented on #127
Noetic release in https://github.com/ros/rosdistro/pull/24315

[2020-04-01 18:50] #127 closed, assigned to nobody

[2020-06-16 12:42] norro opened #143 "[ros2] re-introduce addDiagnostics to aggregator"
During migration of the diagnostics aggregator to ROS 2, the [addDiagnostics](http://docs.ros.org/jade/api/diagnostic_aggregator/html/classdiagnostic__aggregator_1_1Aggregator.html#a7ab7d3dbd6da04caa14e98f181dbfd9c) feature was kicked out. This was mainly done due to its dependency on [bond](https://github.com/ros/bond_core).

Former documentation of this feature was: _"Service request callback fo

[2020-06-16 15:27] Karsten1987 commented on #143
looking at RMW, I think the liveliness assertion might be a good entry point for this:
https://github.com/ros2/rmw/blob/master/rmw/include/rmw/rmw.h#L490-L512

Not sure how well supported it is by all RMWs, but we could think of making it optional.

[2020-06-30 06:24] norro opened #146 "[ros2] fix calculation of toplevel diagnostic status in aggregator"
The diagnostic `level` in ROS 2 [diagnostic_msgs/msg/DiagnosticStatus.msg](https://github.com/ros2/common_interfaces/blob/master/diagnostic_msgs/msg/DiagnosticStatus.msg) is declared as `byte`, the same as in ROS 1. However, while `byte` was translated to `int8` in ROS 1 (so a **signed** int, see [byte: deprecated alias for int8](http://wiki.ros.org/msg)), it is translated to `unsigned char` in RO

[2020-06-30 06:26] norro commented on #146
@Karsten1987 can you assign this issue to me or adapt my powers in this project so that I can do this myself? :)

[2020-07-06 17:41] #146 closed, assigned to norro

[2020-07-10 21:04] Michael-Equi opened #151 "Error Installing ROS2 Foxy diagnostics-updater from apt"
I am on Ubuntu 20.04 running ROS2 Foxy and I attempted to install diagnostics_updater from apt using the following command:

`sudo apt-get install ros-foxy-diagnostic-updater`

I received the following error which makes it look like the package was not deployed properly as it is indeed missing at the address that apt tried to get the package from.

[code]

[2020-07-13 22:39] Karsten1987 opened #154 "Transfer ownership of ROS1 branches to "orphaned package maintainer group""
I wanted to start a discussion whether it makes sense to transfer the ownership of the ROS1 branches to the [orphaned package maintainer group](http://wiki.ros.org/OrphanedPackage).

I personally, together with colleagues at Bosch, will continue to maintain all activity around ROS2, but we'll restrain ourselves from reviewing and releasing patches into ROS1 (i.e. noetic).

Happy to hear opinions f

[2020-07-14 23:02] bricerebsamen commented on #154
Hello Karsten

I have personally not used ROS in years, and certainly not maintained that
package in a very long time. @trainman419 took care of most of the build
issues in the last few years. AFAIC you can remove me from the list of
maintainers and do whatever you want with this package.

Brice

On Mon, Jul 13, 2020 at 3:39 PM Karsten Knese <notifications@github.com>
wrote:

[2020-07-18 01:13] ros-discourse commented on #154
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-tsc-meeting-minutes-2020-07-16/15468/1

[2020-07-18 07:43] g-gemignani commented on #154
Hello, as I mentioned in another issue, at Magazino we are using ros1 diagnostic. I imagine us maintaining it if no one else can take over this chore

[2020-07-20 15:56] Karsten1987 commented on #154
Absolutely appreciated @g-gemignani. I'd propose you open a PR updating the current ROS1 branch (in this case `noetic` I would say) and mark yourself or your team as the maintainer of the packages listed in there.
As stated above, I guess we could remove Brice as a maintainer in the same run.

[2020-07-20 17:09] bricerebsamen commented on #154
yes

On Mon, Jul 20, 2020 at 8:56 AM Karsten Knese <notifications@github.com>
wrote:

[2020-07-20 22:00] Karsten1987 commented on #151
I couldn't reproduce this behavior locally. I've tried it with the official [foxy dockerfile](https://discourse.ros.org/t/announcing-ros-foxy-docker-images-availability/14511) and the updater was installing just fine.

From your output, I suspect there's some misconfiguration locally happening on your machine. Have you tried calling `apt-get update`?

I am going to close this ticket. Please don't

[2020-07-20 22:00] #151 closed, assigned to nobody

[2020-08-01 13:50] airballking opened #156 "[ROS2 | Foxy] diagnostic_aggregator example crashes because example_pub.py is not installed as a program"
It seems the example publisher of the diagnostic_aggregator publisher is not installed as a program. Hence, the overall example fails.

I ran this on ROS2 Foxy installed from Ubuntu version: 20.04 deb files. Last update was August 1st, 2020.

Here is my error description:

[code]

It seems the dummy publisher is not found. When I try to run, it fails:
[code]

However, the script seems to be in the

[2020-08-01 14:26] airballking commented on #156
Silly me. It is such a small PR, I just did it right away. No need to waste more time.

[2020-08-05 16:09] airballking commented on #156
I guess this issue stays open until the patch has been back-ported from the ros2-devel branch.

[2020-08-05 16:27] Karsten1987 commented on #156
your PR was already backported and released: https://github.com/ros/diagnostics/pull/160
I am closing this ticket, please don't hesitate to report if your problem isn't addressed yet.

[2020-08-05 16:27] #156 closed, assigned to nobody

[2020-08-05 18:16] airballking commented on #156
Cool.

[2020-08-11 10:22] #154 closed, assigned to nobody

[2020-08-11 10:58] g-gemignani commented on #106
Does someone need also a new release for kinetic? Otherwise, I would close given https://github.com/ros/rosdistro/pull/26156 and https://github.com/ros/rosdistro/pull/26155

[2020-08-14 10:33] #92 closed, assigned to nobody

[2020-08-30 18:12] #106 closed, assigned to nobody

[2020-08-30 18:14] g-gemignani commented on #45
Closing since the feature has been merged and will be added to both melodic and noetic with the next versions

[2020-08-30 18:14] #45 closed

[2020-09-20 22:58] peci1 commented on #45
I was looking for a good place to improve documentation, but I haven't found any that would specifically cope with FrequencyStatus and TimeStampStatus. Is there such a place that I overlooked?

[2020-09-21 13:06] amilcarlucas commented on #128
This is probably fixed now. Can you update and re-test?

[2020-09-21 13:59] MCFurry commented on #128
Thx, I'll try to re-evaluate asap!
Is this fix in the apt-released version or do I need to test the latest source?

[2020-09-21 14:03] amilcarlucas commented on #128
apt-released should have it

[2020-09-22 08:56] g-gemignani commented on #45
Hi @peci1 and thank you for your message. If I am not wrong, in the past the diagnostics maintainers have added documentation to the wiki: http://wiki.ros.org/diagnostics I believe that would be the best place where to add info about your change

[2020-10-02 08:03] rostest opened #164 "ROS2: Templatized publisher in class diagnostic_updater::DiagnosedPublisher"
The ROS2 publisher in class diagnostic_updater::DiagnosedPublisher currently supports messages of type diagnostic_msgs::msg::DiagnosticArray only:

`rclcpp::Publisher<diagnostic_msgs::msg::DiagnosticArray>::SharedPtr publisher_;` (https://github.com/ros/diagnostics/blob/eloquent/diagnostic_updater/include/diagnostic_updater/publisher.hpp, line 247).

This way, only messages of type `diagnostic_msg

[2020-10-02 09:44] Melvin-leo opened #165 "Ros2 pkg list does not have diagnostic_updater"
Hi everyone, I am relatively new to Ubuntu. Currently, I am trying to install diagnostic_updater package with colcon build for eloquent ROS 2. However, only diagnostic_msgs is there in pkg list and not diagnostic_updater. May I know how can I build in the way that my other application can acces diagnostic_updater?

[2020-10-02 10:08] norro commented on #165
Hi @Melvin-leo. The diagnostic_updater package is part of the ros distro, see [eloquent/distribution.yaml#L521](https://github.com/ros/rosdistro/blob/master/eloquent/distribution.yaml#L521) and is also available as ubuntu (debian) package, see [index.ros.org/diagnostic_updater#eloquent](https://index.ros.org/p/diagnostic_updater/github-ros-diagnostics/#eloquent).

The `diagnostic_msgs` package you

[2020-10-02 11:46] Melvin-leo commented on #165
Do i need to switch the branch to eloquent?

[2020-10-31 16:06] Chris-Bee opened #166 "bondcpp dependency issue"
Hello everybody,

I'm using diagnostic_aggregator, branch 'indigo-devel' as an automatically referenced dependency of mavlink and mavros with ROS melodic. While compiling I get the issue bondcppConfig.cmake could not be found. However, ros-melodic-bondcpp is installed.

I did not get this error about 2 months ago and I'm not sure if this is an issue related to bondcpp or the diagnostic_aggregator.

[2020-11-02 07:29] g-gemignani commented on #166
Hi Chris and thank you for your message.

I must admit it is a bit hard to debug your issue without having a minimal use case at hand.
In any case, the first thing I would try is to clone different indigo-devel branches and see if some of them fix your issue: I would try with the current master (I didn't manage to release it yet but there were a couple of fixes pushed to it) and an earlier version

[2020-11-06 13:47] mitsudome-r opened #167 "ROS2 : queue size for subscription in DiagnosticAggregator"
### Current Implementation
The queue size for `/diagnostics` topic is set to SystemDefault in ROS2, whereas it was explicitly set to 1000 in ROS1.

ROS2: https://github.com/ros/diagnostics/blob/48e16167bdef2760ce0536f226cad264a607b96d/diagnostic_aggregator/src/aggregator.cpp#L99-L100
ROS1: https://github.com/ros/diagnostics/blob/9a3748a224a1a28b7357a3cd9958fc4a9c599354/diagnostic_aggregator/src/ag

[2020-11-11 11:07] mitsudome-r commented on #167
@Karsten1987 @norro @1r0b1n0
It looks like you three did the porting to ROS2.
Do you have any comments about this?

[2020-11-12 08:51] 1r0b1n0 commented on #167
Hi,
I completely agree this is a problem because the default QoS history size is 1 (at least it was in eloquent).
In one of my projects I changed this line to
[code]
I think it would be better to, at least by default, set the history to a large number (like 1000 -> this means we support up to 1000 nodes publishing a /diagnostics) so we don't have to tune the DiagnosticsAggregator for each project.

[2020-11-16 07:47] norro commented on #167
@mitsudome-r Agreed!

[2020-12-03 12:45] caioaamaral opened #169 "Missing explicit dependency on Boost?"
Both `noetic-devel` and `indigo-devel` are using Boost at `diagnostic_aggregator` package [(here)](https://github.com/ros/diagnostics/blob/cd96ebfc26ac49b060d2701a0799309bfbea9475/diagnostic_aggregator/CMakeLists.txt#L22) and shares a library (`${PROJECT_NAME`). Shouldn't it also export the boost dependency itself? I mean by adding a `DEPENDS Boost` at catkin_package macro and a <build_depend> tag

[2020-12-08 21:20] jediofgever opened #171 "Adapt changes from ROS2 rolling to ros2-devel branch"
Hello,
The updates from upstream ROS2 causes diagnostics to have deprecation messages when compiling;

[code]

Can we adapt to the chages so we dont see this deprecation messages ?
Thank you for your time.

unrelated reference for myself
https://github.com/ros-planning/navigation2/pull/2111

[2021-01-04 17:15] anderwm opened #172 "On Foxy throws exception using diagnostic_aggregator tutorial"
Not sure if the tutorial(https://wiki.ros.org/diagnostics/Tutorials/Configuring%20Diagnostic%20Aggregators) just needs updating or if the code could do some smart casting, but...

Specifically the 'contains' field must be a list of strings now now contains: ['whatever'] instead of contains: 'whatever. Also crashes if timeout is an int instead of double.

[2021-01-11 08:27] norro commented on #172
Thanks for reporting this issue!

The tutorial indeed needs an update for ROS 2. @Karsten1987 do you have an idea how to go forward with this or any common practice how you handled this with other packages? Should be split the tutorial in a ROS 1 and ROS 2 version? Or should we mark the existing tutorial as _'ROS 1 only'_ and add a ROS 2 tutorial at a different place later?

@anderwm Until this is

[2021-01-11 17:09] Karsten1987 commented on #171
changes for this are inflight : #177

as soon as merged, I'll cut a new release for rolling. Thanks for reporting!

[2021-01-11 19:20] Karsten1987 commented on #172
I generally prefer to have the documentation close to the code. That is, have the tutorial be placed in a README.rst or similar in the same repo. That allows to adapt quickly to differences between branches etc.
In this particular case, I'd say we write an appropriate tutorial for the ROS2 version of diagnostics and pack it in a readme. Once it's released, this readme should show up on index.ros.o

[2021-01-14 12:52] #171 closed, assigned to nobody

[2021-01-17 02:40] ryleymcc opened #178 "How to install?"
I'm getting an error saying that this is missing and i can't see it in my includes of my ROS2 directory. how should i install this?

[2021-01-18 17:19] cdbierl commented on #167
Even with the recent history depth adjustment to 1000, the diagnostic aggregator still appears to fall behind with my application. I am basically comparing the rqt_runtime_monitor to the rqt_robot_monitor's display. The runtime monitor reveals the latest diagnostic entry but it is not being mirrored in the robot monitor pane. A simple diagnostic updater exposing a integer counter will reveal the d

[2021-01-19 15:23] cdbierl commented on #167
I found a remedy for the behavior I described above. It's not that the aggregator is being "overworked," its subscription callback is not being given enough time to run, so the published output never reflects the current state of the diagnostics. See my PR:  https://github.com/ros/diagnostics/pull/179

[2021-01-29 12:44] BasVolkers opened #183 "[ROS2] [Bug] DiagnosticStatus level is not correctly set"
If I run a `HeaderlessTopicDiagnostic` with a `FrequencyStatusParam` I get the following console output:
[code]

I'm thinking the problem lies in this piece of code (line 117-125 of `_update_functions.py`):
[code]
I think that the bytes for the `DiagnosticStatus` message are not correctly created, since 48 is the ASCII value of '0'

By changing line 125 to the following I was able to fix this erro

[2021-01-31 02:52] yangyy11 commented on #128
ok

[2021-02-12 20:48] chrisflesher opened #185 "ROS1 hd_monitor.py issue on noetic"
Am getting the following error after running `hd_monitor.py` in noetic on Ubuntu 20.04 (pulling from latest apt):

[code]

[2021-02-12 20:51] chrisflesher commented on #185
Also am getting the following error after running `sensors_monitor.py`:

[code]

[2021-02-13 09:24] g-gemignani commented on #185
Hi @chrisflesher and thank you for your message.
It looks like those nodes were never completely ported to python 3. I quickly did it. Can you please double-check that they are now working? You can find the fixes in https://github.com/ros/diagnostics/tree/noetic/fix-diagnostic-common-diagnostics
If it works for you I'll take care of creating a new release :)

[2021-02-13 16:34] chrisflesher commented on #185
Thanks! I was able to get `hd_monitor.py` working after making the following fix:
[code]

I tried fixing `sensors_monitor.py` but found that code may need a significant rewrite for the `parse_sensor_line` function to be robust. Its crashing for multiple reasons with the following `sensors` output:
[code]

[2021-02-13 17:01] chrisflesher commented on #185
I think I'd be pretty happy with the fix for `hd_monitor.py` now.

Maybe we could try to fix `sensors_monitor.py` as a separate issue? Would setting up some unit tests be helpful? I wouldn't mind taking a crack at that if I get some time to work on it.

[2021-02-13 17:06] chrisflesher commented on #185
The sensors issue seems like a duplicate of #69

[2021-02-13 17:07] chrisflesher commented on #69
I'm getting similar issues with:
[code]

[2021-02-14 09:08] g-gemignani commented on #185
Hi @chrisflesher, you are right, there was still an issue with sensors_monitor.py. Can you try now?

[2021-02-17 13:00] millerluki commented on #178
Which command did you use and what was the output? Which OS and ROS2 distro do you use?
Did you try this (for foxy)?
`sudo apt update`
`sudo apt install ros-foxy-diagnostic-updater`

[2021-02-18 15:57] chrisflesher commented on #185
Yes `sensors_monitor.py` seems to run now. Thanks!

[2021-02-18 16:01] chrisflesher commented on #185
A new release of this would be great. I have only tested it on a VM, could test on actual hardware next week and report results if that would be helpful.

[2021-02-20 07:43] ryleymcc commented on #178
I changed my approach and am no longer using ros2.

[2021-02-20 07:43] #178 closed, assigned to nobody

[2021-02-20 10:20] g-gemignani commented on #185
We are in no rush. Let's wait for your additional test and then I take care of merging and releasing. Thank you!

[2021-02-24 17:23] tgreier opened #188 "[ROS2] diagnostic_updater::Updater has not method for caller to control update()"
I would like to have control over the threading of the diagnostics update, instead of using a node timer (which could block other callbacks).
For diagnostics updater, I'd want option to create a low-level thread that will handle the call to update().

I can do a pull request to implement this, but I would like to know if there was a reason for this change from ROS1->ROS2.
ROS1 gave the responsibil

[2021-02-26 17:07] Karsten1987 commented on #188
I guess that's a fair use-case. The timer seemed to me the most ROSifed way to handle a constant update rate, but I totally see your need for taking care of threading yourself.

If you have already an idea in mind, please go ahead and draft a PR. I will say though that the timer approach should still be supported, in a way to have a "fire and forget" solution for it, where users don't have to deal

[2021-03-01 22:58] Karsten1987 opened #189 "[ros2, rolling] aggregator has outdated launch file"
As of [this PR](https://github.com/ros2/launch_ros/pull/190/files) all keywords prefixed with `node_` are no longer deprecated but actually removed.

that is, `node_executable` is only `executable` here: https://github.com/ros/diagnostics/blob/ros2-devel/diagnostic_aggregator/example/example.launch.py.in#L11

[2021-03-03 21:13] #189 closed, assigned to nobody

[2021-03-03 21:14] Karsten1987 commented on #167
I am closing this as the issue has been addressed in #168

[2021-03-03 21:14] #167 closed, assigned to nobody

[2021-03-03 21:16] Karsten1987 commented on #165
@Melvin-leo I assume your question was answered. I am going to close this issue. Please feel free to re-open this ticket if you feel there's more to do here which can't be addressed through ros-answers.

[2021-03-03 21:16] #165 closed, assigned to nobody

[2021-03-05 08:30] Chris-Bee commented on #166
@g-gemignani I agree, apologies for the sparse information. In the end, we think that this was some kind of odd behavior by the setup on our side. We were using a dockerfile to set up a test environment and between installing and compiling mavlink and ros-melodic-bondcpp, there must have been a missing resourcing of the ros setup. With this, I assume the issue can be closed.

[2021-03-05 08:39] g-gemignani commented on #166
@Chris-Bee no worries. Closing the issue then :)

[2021-03-05 08:39] #166 closed, assigned to nobody

[2021-03-05 08:39] g-gemignani commented on #185
@chrisflesher any update on this?

[2021-03-08 20:50] #183 closed, assigned to nobody

[2021-03-14 15:14] g-gemignani commented on #185
Merged to noetic-devel. Closing the issue

[2021-03-14 15:14] #185 closed, assigned to nobody

[2021-04-19 13:14] doronhi opened #195 "missing messages with multiple diagnostic updaters"
I want to publish diagnostics on several objects.
To that end, I create several objects of type `diagnostic_updater::Updater`, each of them is being ticked() and updated().
When I listen on the `/diagnostics` topic I notice that sometimes one of the objects fails to update for a cycle or several cycles.
I expect the `/diagnostics` topic to contain a message for every updater every second.
I consid

[2021-04-21 06:35] g-gemignani commented on #195
Hi @doronhi and thank you for your message.
Unfortunately, all the links you provided give me a 404 error. Can you please fix it so that I can try to support you?
Thank you! :)

[2021-04-21 07:48] doronhi commented on #195
Sorry.
Please extract the attached **beginner_tutorials.zip** file to your `catkin_ws\src` folder.
**parse_rostopic_echo.zip** contains just parse_rostopic_echo.py so you can extract it anywhere you want.

[parse_rostopic_echo.zip](https://github.com/ros/diagnostics/files/6348968/parse_rostopic_echo.zip)
[beginner_tutorials.zip](https://github.com/ros/diagnostics/files/6348969/beginner_tutorials.z

[2021-04-26 09:08] mortenfyhn opened #196 "Generic analyzer outputs OK status with ERROR status input"
If I output `/diagnostics` with a DiagnosticArray with an ERROR status followed by an OK status, the generic analyzer's aggregated output is the OK status. It should be the more severe ERROR status. However, if I flip the order, with the OK first, then the ERROR, I get the correct output. So it appears that the generic analyzer is sensitive to the order of the incoming diagnostic statuses. This is

[2021-05-01 14:33] g-gemignani commented on #196
Hi @mortenfyhn and thank you for your message,

the generic analyzer is thought to be used with different messages published onto /diagnostics and not with different statuses added to the same message. By publishing two different and distinct messages on /diagnostics (ideally with two different names and a rule for matching them added to the yaml) you will get the wanted behavior. I hope this help

[2021-05-02 06:16] mortenfyhn commented on #196
Thank you for the answer.

I'm a little confused. Since /diagnostics takes DiagnosticArray messages, and DiagnosticArray takes an array of DiagnosticStatuses, it seems odd to require only one status per message. If I have, say, a hardware device driver, and it can have various states such as "temperature too high" or "communication error", is it wrong to create one DiagnosticStatus for each of tho

[2021-05-02 13:57] g-gemignani commented on #196
It is not wrong, but it is wrong to publish them all with the same name. Ideally, you would have to publish the first one as foo/something and the second one as foo/something_else and then use the regex matching to aggregate them both under foo.
Please let me know if I explained myself clear enough, otherwise let me know that I try to do better :)

[2021-05-02 14:30] g-gemignani commented on #195
Hi @doronhi and sorry if it took me a bit to find the time to answer you.
I played a bit with your code and the issue that you described.
I noticed that adding a small `ros::Duration(0.001).sleep();` before calling the update function (line 68 of your talker file),  makes the issue disappear.
I might be wrong, but I remember that in ROS, sometimes msgs are dropped when someone tries to publish msg

[2021-05-03 05:55] mortenfyhn commented on #196
Aha! So something like this might be more correct?

Published on /diagnostics:

[code]

(And for a device that I want to just have a single status for, I'd just do `my_sensor` as the name of that one status, I assume.)

Would you want a patch where I make the generic analyzer output a little warning to the console if it receives multiple statuses with the same name? That might make it easier to pe

[2021-05-03 07:11] g-gemignani commented on #196
Correct!
A patch would be lovely!
Thanks!
Gu

[2021-05-03 07:18] mortenfyhn commented on #196
Great, thank you! I'll close this then.

[2021-05-03 07:19] #196 closed, assigned to nobody

[2021-05-04 07:14] doronhi commented on #195
Thanks for looking into it. I'll test the workaround and report the results.

[2021-05-04 14:29] guillaumeautran commented on #195
Isn't the problem that the publisher to the `/diagnostics` topic is set to a queue of 1?
https://github.com/ros/diagnostics/blob/noetic-devel/diagnostic_updater/include/diagnostic_updater/diagnostic_updater.h#L556

If we increase this queue depth, then the messages will not be dropped.  Can this be done?

[2021-05-04 14:35] g-gemignani commented on #195
Hi @guillaumeautran,
thank you for pointing that out. I didn't think of the queue of the updater, but it definitely makes sense. Let me try that out and see if this fixes the problem. I'll come back to you as soon as I find a bit of time.

[2021-05-04 15:21] g-gemignani commented on #195
Hello, I managed to find 5 min of time before I thought I would.
Unfortunately, even extending the queue of the publisher to 100, I personally still get the same issue:

If I find time, I can try to follow this train of thoughts and see if it leads to something...

[2021-05-06 15:41] guillaumeautran commented on #195
I'm not sure the test app accurately represents the real world scenario.
Looks like the loop rate is 10Hz. But diagnostics are usually published at a 1Hz frequency.
So, what happens if the publication rate is dropped down to 1Hz and the publish count increased to 10 (as an example). With a topic queue of 10, we should not be loosing any message.

[2021-05-19 06:46] doronhi commented on #195
The test was built specifically to challenge the system and to demonstrate a phenomenon we noticed when publishing diagnostics for several topics at 1Hz each.
The fix/workaround suggested by @g-gemignani, adding a 1-millisecond sleep between consecutive updates may not be ideal but it works for me.
Thanks.

[2021-05-19 06:47] #195 closed, assigned to nobody

[2021-06-18 03:37] sibi-venti opened #199 "error: ‘no_data_is_problem’ does not name a type"
**I use Ros kinetic, i am getting this problem when i compile it , i tried inidigo devel, and noetic devel both have same problems**
[code]

[2021-06-21 06:17] g-gemignani commented on #199
Hi @sibi-venti and thank you for your message. Would it be possible to get a bit more info on the computer setup you are using? Could it be an issue with the compiler you are using or with your environment setup?

[2021-06-21 06:24] sibi-venti commented on #199
@g-gemignani you can close the issue here, for kinetic , Groovy-devel works fine for me now

[2021-06-21 06:24] #199 closed, assigned to nobody

[2021-06-29 18:24] zflat commented on #164
Is this issue fixed with https://github.com/ros/diagnostics/pull/135 ? If so, this issue can be closed?

[2021-06-30 06:26] rostest commented on #164
I think it is. Many thanks!

[2021-06-30 06:26] #164 closed, assigned to nobody

[2021-09-15 18:38] AlexKaravaev opened #206 "Compilation on error on latest rolling"
System info:
``` Docker image ros:rolling ```

[code]

[2021-10-11 22:48] tfoote opened #207 "storing colcon logs in artifacts is triggering action storage quota costs"
We were reviewing action usages on the organization and the logs into artifacts of the console output in this repository is triggering "action storage" costs.

https://github.com/ros/diagnostics/blob/195ee2aadc1b121c552661611909d7a2bf51c906/.github/workflows/test.yaml#L31-L34

The console logs are available from the action runner logs directly and I don't think that we need to specifically semi-pe

[2021-10-27 00:37] KeisukeShima opened #213 "How can I add a new group analyzer as a plugin?"
HI,
I am developing a plugin for `diagnostic_aggregator`. This will be a replacement for the existing `AnalyzerGroup`, but with different behavior.
However, my group plugin does not hierarchize correctly because `AnalyzerGroup` only recognizes `diagnostic_aggregator/AnalyzerGroup` as a group in the following line.

https://github.com/ros/diagnostics/blob/ros2-devel/diagnostic_aggregator/src/analyz

[2021-11-18 00:36] jagauthier opened #219 "Could not find the required component 'diagnostic_updater'."
Just cloned this today, as a dependency for another application.

After issuing a build command (catkin_make_isolated) I get this:
[code]

The diagnostic updater directory is, in fact, in my workspace.
I tried to add this:
`set(diagnostic_updater_DIR /home/pi/ros_catkin_ws/src/diagnostics/diagnostic_updater)`

to CMakeLists.txt, but that didn't seem to do anything helpful.

[2022-02-01 18:44] Ecophagy commented on #119
Bit of a necro, but this looks like a gcc bug, the same as https://github.com/ros/ros_comm/issues/2197 & https://github.com/ros/roscpp_core/issues/130

If you need to use -O3 then I think your only option is to update your version of gcc.

[2022-02-06 11:52] doronhi opened #225 "Why "FrequencyStatusParam" receive pointers?"
Why does FrequencyStatusParam receive pointers and not variables?
From a user perspective, it is cumbersome. I need to keep 2 variables, min_freq, max_freq during the whole run of the program.
It would be much cleaner, to initialize with `FrequencyStatusParam(0.9*expected_freq, 1.1*epected_freq)`.
What is the benefit of passing these values as pointers?

[2022-03-28 09:19] homalozoa opened #226 "[Feature request] Add APIs to pause/resume/start updaters"
As I observed, there isn't any APIs to pause/resume/start diagnostic updaters. Especially when invoking diagnostic_updaters in LifecycleNodes, diagnostic updaters begins publishing topic to /diagnostics just after LifecycleNodes constructing. As description in [Managed Nodes](http://design.ros2.org/articles/node_lifecycle.html), publishers in Lifecyclenodes should be configured and activated befor

[2022-05-30 11:13] wep21 opened #229 "[ros2] The latest commits in ros2 branch have not been released to rolling/humble distribution."
The latest release version is 2.1.3, but the latest ros2 branch goes a bit ahead.

[2022-05-30 11:16] wep21 commented on #229
@Karsten1987 @norro Could you create a new release to rolling/humble?

[2022-06-06 08:59] wep21 commented on #229
@g-gemignani Hi, I guess you are in charge of ros1 branch maintenance. Currently, the maintainer of ros2 branch (@Karsten1987 @norro) seems to be inactive. Is it possible for me to do release process instead of them until they are back?

[2022-06-09 21:25] wep21 commented on #229
cc @clalancette

[2022-06-10 12:38] clalancette commented on #229
I'm not a maintainer here, so I'm reluctant to add people as maintainers without agreement from the current maintainers.

That said, I'm happy to do a release here, so I'll go ahead and do that.

[2022-06-10 12:47] clalancette commented on #229
Done in https://github.com/ros/rosdistro/pull/33526 and https://github.com/ros/rosdistro/pull/33527

[2022-06-10 22:45] wep21 commented on #229
@clalancette Thank you for taking care of it!

[2022-06-10 22:45] #229 closed, assigned to nobody

[2022-07-05 12:22] LoicFerrot opened #232 "[foxy - python] Is it normal that a STEADY_TIME clock is used in TimeStampStatus ?"
Hello!

I'm wondering why the clock source is set on `STEADY_TIME` and not on `ROS_TIME` at [this line](https://github.com/ros/diagnostics/blob/0145a835db41addaef24aecdc4c776005b9b6a1d/diagnostic_updater/diagnostic_updater/_update_functions.py#L197) in `TimeStampStatus` in the foxy branch.

From my understanding, reading the [clock and time ROS2 article](https://design.ros2.org/articles/clock_and_

[2022-08-18 22:21] peci1 commented on #45
I finally found time to put this into the docs! http://wiki.ros.org/action/info/diagnostic_updater?action=diff&rev2=26&rev1=25

[2022-08-19 06:11] g-gemignani commented on #45
Thank you for your time!

[2022-08-25 08:27] Li-Jun-SD opened #235 "How to Creating a Diagnostic Analyzer with ROS 2 (galactic)?"
Hello,
http://wiki.ros.org/diagnostics/Tutorials/Creating%20a%20Diagnostic%20Analyzer is not work with ROS 2.
Could you write a tutorial about how to write an analyzer plugin in ROS 2? The virtual function interface's change and colcon build system make me feel confuse.
Very appreciate for your help.
Sorry for my English, hope you could understand my words.

Thanks for your work.

[2022-09-02 08:04] Li-Jun-SD commented on #235
I made a demo based on that tutorial could work with ros2.
[github](https://github.com/Li-Jun-SD/pr2_motors_analyzer_ros2)
I wish that could help who have the same problem.

[2022-09-17 18:16] AzaelCicero opened #236 "ROS2 Missing ament_export_target in diagnostic_aggregation CMake"
I am writing my own plugin for the diagnostic and I needed to call `StatusItem::toStatusMsg` https://github.com/ros/diagnostics/blob/galactic/diagnostic_aggregator/include/diagnostic_aggregator/status_item.hpp#L222-L224

I was getting a linking error:

collect2: error: ld returned 1 exit status
make[2]: *** [CMakeFiles/as_monitor_analyzers_test.dir/build.make:210: as_monitor_analyzers_test] Error

[2022-10-28 07:23] ralwing opened #238 "diagnostic_updater warning: Implicit conversions on humble"
I'm using diagnostic_updater in humble, on which I have warnings about implicit type conversions:
[code]
Compiler version:
[code]

[2022-11-07 09:37] ralwing commented on #238
closing as completed.

[2022-11-07 09:37] #238 closed, assigned to nobody

[2022-11-16 04:49] RFRIEDM-Trimble commented on #236
This [PR](https://github.com/ros/diagnostics/pull/240/files#diff-9b32c4fea3562a42e90c9950a63b48b8fe78a531f5cbd87b1bff457920c8b781R159) added that line for `ament_export_targets`. `ament_export_libraries` is not needed if you use ament_export_targets according to [this](https://github.com/ament/ament_cmake/issues/365).

I think this issue can be closed.

[2022-11-21 13:09] ct2034 commented on #232
This will be fixed by #214

[2022-11-21 13:10] ct2034 commented on #232
Or do you need it specifically for foxy?

[2022-11-21 13:13] ct2034 commented on #219
Sorry @jagauthier, but I can not reproduce this. Can you describe your setup, please, and tell me under which revision this happened?

[2022-11-21 13:16] ct2034 commented on #236
I agree. I think we can close this

[2022-11-21 13:44] #236 closed, assigned to nobody

[2022-11-21 13:47] ralph-lange commented on #235
Thank you for publishing this demo. In my opinion, this issue can be closed now but you may consider to contribute a tutorial for [docs.ros.org](https://docs.ros.org/), by a PR to https://github.com/ros2/ros2_documentation.

[2022-11-21 13:48] ct2034 commented on #206
I don't think this is a problem anymore. Can someone please confirm.

[2022-11-21 13:57] ralph-lange commented on #54
Probably outdated. If still present, please open a new issue or raise a PR.

[2022-11-21 13:57] #54 closed, assigned to trainman419

[2022-11-22 15:33] RFRIEDM-Trimble opened #253 "Deprecate ntpdate usage, replace with ntpd in NTP Monitor"
https://linux.die.net/man/8/ntpdate

The NTP Monitor used ntpdate to get the time offsets for NTP, however that package will be deprecated in the future. Since rosdep already has a key for `ntpd`, the following needs to change
* Change rosdep key
* Adjust the CLI call to use ntpd
* Change any command line arguments as needed for the [ntpd](https://linux.die.net/man/8/ntpd) call

It is available in

[2022-11-22 16:10] RFRIEDM-Trimble opened #254 "Add tests for NTP Monitor"
The NTP monitor is now ported to ROS2, but there are no tests for it.Proposed issue scope:

- [ ] Add dependency on pytest such that tests run with colcon
- [ ] Add a new python file for testing the ntp monitor
- [ ] Add a test for parsing the output of ntpdate
- [ ] Add a test for ensuring the offset threshold results in levels 0,1,2 of diagnostic status
- [ ] Any other test suggestions are welco

[2022-11-22 18:02] ros-discourse commented on #254
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/what-is-the-recommended-pytest-workflow-for-an-ament-cmake-python-package/28471/1

[2022-11-23 16:30] LoicFerrot commented on #232
Yes, if this is not too much work.

[2022-11-23 21:54] ct2034 commented on #232
Okay, sorry. The mentioned pr replaced STEADY_TIME at another place. This is still open. And I will also backport it.

And just to be verbose: I don't know why STEADY_TIME was used here. But after reading https://design.ros2.org/articles/clock_and_time.html I think it should be ROS_TIME instead. I agree with you, @LoicFerrot. The rationale would be that diagnostic events should be timed relative t